/*Small Screan*/

@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body.main {
    background: url(Images/startrees.jpg);
    background-position: left 100% bottom 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header_logo {
    width: 100%;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: white;
    background-size: cover;
    padding: 10px;
}

.logo {
    float: left;
    max-width: 150px;
    max-height: 100px
}

.links {
    float: right;
}

.topnav a {
    color: black;
    padding: .5rem .5rem;
    text-decoration: none;


}

.heading-primary {
    font-family: 'Poiret One';
    color: #F8F8FF;
    padding: 5%;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    animation: moveInLeft 1s;
}

.heading-primary-sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 5px;
    text-align: center;
    color: greenyellow;
    text-shadow: 0px 0px 2px black;
    animation: moveInRight 1s;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background-color: rgba(0, 100, 100, 0.7);
    padding: 12px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
    color: white
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 10px);
    margin: 0 10px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}
.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 100, 100, 0.7);
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Movement */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        transform: translateX(10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Footer */
.main-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}



/*
 Medium Screen 

@media screen and (min-width: 500px) {
    .nav-items-one {
        justify-content: flex-start;
    }

    .topnav a {
        padding: .5rem 1rem;
        text-decoration: none;
        font-size: 24px;

    }

    .heading-primary {
        margin-top: 20px
    }

    .heading-primary-main {
        font-size: 4.5rem;
        letter-spacing: 9px;
    }

    .heading-primary-sub {
        font-size: 1.9rem;
        letter-spacing: 9px;
    }

     Footer 
    .main-footer {
        padding: 25px;
        font-size: 17px;
    }
}
*/

/*
@media screen and (min-width: 870px) {
    .nav-items-one {
        justify-content: flex-start;
    }

    .topnav a {
        padding: 1rem 1rem;
        text-decoration: none;
        font-size: 28px;

    }

    .heading-primary-main {
        font-size: 5rem;
        letter-spacing: 9px;
    }

    .heading-primary-sub {
        font-size: 2rem;
        letter-spacing: 9px;
    }

     Footer 
    .main-footer {
        padding: 25px;
        font-size: 17px;
    }
}
*/
