/*Small Screan*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Tauri');

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 19rem;
}

body.main-body {
    min-height: 100vh;
    background: url(Images/startrees.jpg);
    background-position: left 100% bottom 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body.second-body {
    min-height: 100vh;
    background: url(Images/campfireback.jpg);
    background-position: left 100% bottom 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}

.main-header-logo {
    width: 100%;
    height: 100%;
}

.topnav {
    display: flex;
    background-color: white;
    height: 80px;
    align-items: center;
    /*    overflow: hidden;*/
    /*    background-color: rgba(0, 0, 0, 0.7);*/
    /*    margin-top: 0;*/
    /*    width: 100%;*/

}

.logo {
    float: left;
    max-width: 250px;
    max-height: 200px
}

.nav-items {
    margin-left: auto;
    align-self: right;
    font-size: 23px;
}

.dropdown {
    float: left;
    margin: 0 20px;
}

.dropdown .dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    color: black;
    padding: 1.5rem 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: hidden;
    min-width: 130px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey;
    color: black;
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.heading-primary {
    color: #F8F8FF;
    padding: 6%;
    text-transform: uppercase;
    /*    height: 616px;*/
}

.heading-primary-main {
    font-family: 'Tauri';
    display: block;
    font-size: 4rem;
    letter-spacing: 10px;
    text-align: center;
    animation: moveInLeft 1s;
    font-size: 110px;
}

.heading-primary-sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 5px;
    text-align: center;
    color: greenyellow;
    text-shadow: 0px 0px 2px black;
    animation: moveInRight 1s;
    font-size: 60px;
}

a.link{
    color:greenyellow;
}
a.link:hover, a.link:visited{
    color:palegreen;
}


/* Movement */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        transform: translateX(10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.basic-slider .container {
    width: 100%;

}

.basic-slider .item {
    padding: 20px 0;
    height: 200px;
    background-color: rgba(0, 100, 100, 0.8);
    text-align: center;
    color: white;
    height: 350px;
}

.basic-slider .two {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
}

.basic-slider .twoone {
    padding: 10px;
    width: 100%
}

.basic-slider .twotwo {
    padding: 10px;
    width: 100%;
}

.basic-slider .item h3 {
    font-size: 35px;
}

.basic-slider .item p {
    margin: 10px 0;
    font-size: 20px;
}

.adventure {
    font-family: 'Tauri';
    display: flex;
    text-transform: uppercase;
    letter-spacing: 7px;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background-color: white;
    color: rgba(15, 65, 103);
    height: 200px;
}

.adventure-images{
    background-color: white;
}

.adventure-images .container #myCarouselone {
    width: 100%;
    padding: 0;
    margin: 40px 0;
}


.info {
    font-family: 'Tauri';
    display: flex;
    flex-flow:column;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 100, 100, 0.8);
   color: white;
    padding: 10px 10px;
    margin-bottom: 50px
}

.data{
    display: flex;
    margin-bottom: 20px;
    background-color: white;
}

.adventure-images-ofw .container #myCarouselofw {
    width: 100%;
/*    padding: 0;*/
    margin: 40px 0;
}

.pricing {
    font-family: 'Tauri';
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    font-size: 26px;
    color: rgba(15, 65, 103);
    padding: 0 10px;
}

/* Footer */
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 19rem;
    color: rgba(15, 65, 103);
    padding: 10px 0;
    background-color: lightgrey;
}

.footer-items .footer-one {
    margin: 0 30px;
    text-align: center;
}

.footer-items .footer-two {
    margin: 0 30px;
    text-align: center;
}

.footer-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 15px
}

.footer-items h4 {
    font-size: 25px
}

.footer-items a {
    color: rgba(15, 65, 103);
    text-decoration: none;
}

.footer-bottom {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}
