<!DOCTYPE html>
<html lang="en-us">

<head>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>

<body class="main-body">

    <footer class="main-footer">
        <div class="footer-bottom">
            <h4><u>Contact Us</u></h4>
        </div>
        <div class="footer-items">
            <div class="footer-one">
                <p>(406)640-3370</p>
                <p>ofycamps@gmail.com</p>
            </div>
            <div class="footer-two">
                <p>Mailing Address<br>
                    PO Box 163<br>
                    Newdale, ID 83426</p>
            </div>
            <div class="footer-two">
                <p>Physical Address<br>
                    3150 S Canyon Creek Rd<br>
                    Newdale, ID 83436</p>
            </div>
        </div>
        <div class="footer-bottom">
            <small> &copy;2019 Canyan Creek OLC</small>
            <br>
            <small>Background Photo By </small>
            <a id="inner-link" href="https://unsplash.com/" target="_blank">Unsplash</a>
        </div>
    </footer>

</body></html>
